{{ $currentPage := . -}}
{{ range .Site.Menus.showcase -}}
  <h3>{{ .Name }}</h3>
  {{ if .HasChildren -}}
  <ul class="list-unstyled">
    {{ range .Children -}}
      {{- $active := or ($currentPage.IsMenuCurrent "showcase" .) ($currentPage.HasMenuCurrent "showcase" .) -}}
      {{- $active = or $active (eq .Name $currentPage.Title) -}}
      <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
    {{ end -}}
  </ul>
  {{ end -}}
{{ end -}}
<h3 class="sidebar-link"><a href="https://github.com/h-enk/doks/discussions?discussions_q=category%3A%22Show+and+tell%22">Submit to Showcase →</a></h3>