<section class="section section-featured mt-3 bg-light py-5">
  <div class="container">
    <h2 class="h3 mt-0 text-center">Who's using Doks</h2>
    <div class="row justify-content-center mt-3 g-4">
      {{ range where (where .Site.RegularPages.ByDate.Reverse "Section" "showcase") "Params.featured" true -}}
      <div class="col-sm-8 col-md-6 col-xl-4">
        <div class="card h-100">
          {{ $image := index .Params.images 0 -}}
          {{ .Scratch.Set "src" $image -}}
          {{ .Scratch.Set "alt" .Title -}}
          {{ .Scratch.Set "class" "card-img-top" -}}
          {{ partial "main/img.html" . }}
          <a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}"><span class="visually-hidden">{{ .Params.title | title }}</span></a>
        </div>
      </div>
      {{ end }}
    </div>
    <p class="text-center mt-4 mb-0"><a href="{{ "/showcase/" | absURL }}">View all Showcase</a></p>
  </div>
</section>
