<!--
<div class="feedback-links">
  <h3>Community</h3>
  <ul class="list-unstyled">
    <li><a href="https://github.com/thuliteio/doks/issues/new/choose">Create an issue</a></li>
    <li><a href="https://github.com/thuliteio/doks/discussions/new?category=ideas">Share an idea</a></li>
    <li><a href="https://github.com/thuliteio/doks/discussions/new?category=support">Ask a question</a></li>
    <li><a href="https://opencollective.com/doks">Sponsor Doks</a></li>
  </ul>
</div>

<div class="feedback-links">
  <h3>Ask AI</h3>
  <ul class="list-unstyled">
      <li><a href="https://chatgpt.com/?hints=search&prompt=Read+from+{{ .Permalink | urlquery }}+so+I+can+ask+questions+about+it." target="_blank">Open in ChatGPT</a></li>
      <li><a href="https://claude.ai/new?q=Please+read+the+content+from+{{ .Permalink | urlquery }}+and+help+me+understand+it." target="_blank">Open in Claude</a></li>
  </ul>
</div>
-->

<nav class="section-nav docs-links py-2 my-4">
  <ul class="list-unstyled">
    <li>
      <details>
        <summary>Community</summary>
        <ul class="list-unstyled list-nested">
          <li><a href="https://github.com/thuliteio/doks/issues/new/choose" target="_blank">Create an issue</a></li>
          <li><a href="https://github.com/thuliteio/doks/discussions/new?category=ideas" target="_blank">Share an idea</a></li>
          <li><a href="https://github.com/thuliteio/doks/discussions/new?category=support" target="_blank">Ask a question</a></li>
          <li><a href="https://opencollective.com/doks" target="_blank">Sponsor Doks</a></li>
        </ul>
      </details>
    </li>
    {{ with .OutputFormats.Get "markdown" -}}
    <li class="mt-3">
      <details>
        <summary>Ask AI</summary>
        <ul class="list-unstyled list-nested">
          <li><a href="https://chatgpt.com/?hints=search&prompt=Read+from+{{ .Permalink | urlquery }}+so+I+can+ask+questions+about+it." target="_blank">Open in ChatGPT</a></li>
          <li><a href="https://claude.ai/new?q=Please+read+the+content+from+{{ .Permalink | urlquery }}+and+help+me+understand+it." target="_blank">Open in Claude</a></li>
        </ul>
      </details>
    </li>
    {{ end -}}
  </ul>
</nav>

