<!--
<div class="feedback-links">
  <h3>Community</h3>
  <ul class="list-unstyled">
    <li><a href="https://github.com/thuliteio/doks/issues/new/choose">Create an issue</a></li>
    <li><a href="https://github.com/thuliteio/doks/discussions/new?category=ideas">Share an idea</a></li>
    <li><a href="https://github.com/thuliteio/doks/discussions/new?category=support">Ask a question</a></li>
    <li><a href="https://opencollective.com/doks">Sponsor Doks</a></li>
  </ul>
</div>

<div class="feedback-links">
  <h3>Ask AI</h3>
  <ul class="list-unstyled">
      <li><a href="https://chatgpt.com/?hints=search&prompt=Read+from+{{ .Permalink | urlquery }}+so+I+can+ask+questions+about+it." target="_blank">Open in ChatGPT</a></li>
      <li><a href="https://claude.ai/new?q=Please+read+the+content+from+{{ .Permalink | urlquery }}+and+help+me+understand+it." target="_blank">Open in Claude</a></li>
  </ul>
</div>
-->
{{ with .OutputFormats.Get "markdown" -}}
<div class="page-links">
  <h3>Open this page</h3>
  <ul class="list-unstyled">
    <li><a href="https://chatgpt.com/?hints=search&prompt=Read+from+{{ .Permalink | urlquery }}+so+I+can+ask+questions+about+it." target="_blank">Open in ChatGPT</a></li>
    <li><a href="https://claude.ai/new?q=Please+read+the+content+from+{{ .Permalink | urlquery }}+and+help+me+understand+it." target="_blank">Open in Claude</a></li>
    <!-- <li><a href="{{ .Permalink }}" target="_blank">View Markdown</a></li> -->
  </ul>
</div>
<button type="button" id="copy-markdown-btn" class="btn btn-sm border mt-4">Copy Markdown</button>
{{ end -}}

<!--
<nav class="section-nav docs-links p-0 mt-4">
  <ul class="list-unstyled">
    <li>
      <details>
        <summary>Community</summary>
        <ul class="list-unstyled list-nested">
          <li><a href="https://github.com/thuliteio/doks/issues/new/choose" target="_blank">Create an issue</a></li>
          <li><a href="https://github.com/thuliteio/doks/discussions/new?category=ideas" target="_blank">Share an idea</a></li>
          <li><a href="https://github.com/thuliteio/doks/discussions/new?category=support" target="_blank">Ask a question</a></li>
          <li><a href="https://opencollective.com/doks" target="_blank">Sponsor Doks</a></li>
        </ul>
      </details>
    </li>
    {{ with .OutputFormats.Get "markdown" -}}
    <li>
      <details>
        <summary>Open in AI tools</summary>
        <ul class="list-unstyled list-nested">
          <li><a href="https://chatgpt.com/?hints=search&prompt=Read+from+{{ .Permalink | urlquery }}+so+I+can+ask+questions+about+it." target="_blank">Open in ChatGPT</a></li>
          <li><a href="https://claude.ai/new?q=Please+read+the+content+from+{{ .Permalink | urlquery }}+and+help+me+understand+it." target="_blank">Open in Claude</a></li>
          <li><a id="copy-markdown-btn" href="#">Copy Markdown</a></li>
        </ul>
      </details>
    </li>
    {{ end -}}
  </ul>
</nav>
-->
