/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
// @import "highlight.js/scss/github-dark-dimmed";

/** Import docsearch */

/*! purgecss start ignore */
@import "docsearch.js/dist/npm/styles/main";

/*! purgecss end ignore */

/** Import theme styles */
@import "common/fonts";
@import "common/global";
// @import "common/ads";
@import "common/dark";
// @import "components/ads";
@import "components/carbonads";
@import "components/alerts";
@import "components/buttons";
@import "components/code";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";
