{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center mb-n4">{{ .Content }}</div>
    </article>
  </div>
</div>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm mt-n5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        {{ partial "sidebar/newsletter.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ end }}