<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>

{{- $ethicalAdsId := "" }}
{{- if .IsHome }}
  {{- $ethicalAdsId = "homepage" }}
{{- else if and (eq .Section "docs") .IsPage }}
  {{- $ethicalAdsId = "docs-single" }}
{{- else if and (eq .Section "showcase") .IsNode }}
  {{- $ethicalAdsId = "showcase-list" }}
{{- else if and (eq .Section "blog") .IsNode }}
  {{- $ethicalAdsId = "blog-list" }}
{{- else if and (eq .Section "blog") .IsPage }}
  {{- $ethicalAdsId = "blog-single" }}
{{- else }}
  {{- $ethicalAdsId = "not-defined" }}
{{- end }}

<div data-ea-publisher="httpgetdoksorg" data-ea-type="image" id="{{ $ethicalAdsId }}"></div>
