<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        {{- with .pages.Prev .context }}
          <div class="d-flex flex-column flex-md-row align-items-md-center">
            <!--
            <div class="template-navigation-link">
              <span aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
              </span>
            </div>
            -->
            <div><a class="nav-link nav-prev" href="{{ .RelPermalink }}">← {{ .LinkTitle }}</a></div>
          </div>
        {{- end }}
      </div>
      <div class="col-8">
        {{- with .pages.Next .context }}
          <div class="d-flex flex-column align-items-end flex-md-row align-items-md-center justify-content-md-end">
            <!--
            <div class="template-navigation-link order-md-1">
              <span aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
              </span>
            </div>
            -->
            <div class="order-md-0"><a class="nav-link nav-next text-end" href="{{ .RelPermalink }}">{{ .LinkTitle }}  →</a></div>
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</div>
