<section class="section section-open-collective mt-3 bg-light">
  <div class="container">
    <h2 class="h3 mt-0 text-center">Support Doks</h2>
    <p class="text-center">Help support the team developing Doks by becoming a financial contributor.</p>
    <p class="text-center mb-0 mt-4"><a class="btn btn-primary px-4 mb-2" href="https://opencollective.com/doks" role="button">Contribute</a><a class="btn btn-outline-primary px-4 ms-2 mb-2" href="{{ "financial-contributions/" | relURL }}" role="button">Learn More<span class="visually-hidden"> about Financial Contributions</span></a></p>
  </div>
</section>