<div class="table-responsive">
  <table
    {{- range $key, $value := .Attributes }}
      {{- if $value }}
        {{- printf " %s=%q" $key $value | safeHTMLAttr }}
      {{- end }}
    {{- end }}>
    <thead>
      {{- range .THead }}
        <tr>
          {{- range . }}
            <th{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>
              {{- .Text -}}
            </th>
          {{- end }}
        </tr>
      {{- end }}
    </thead>
    <tbody>
      {{- range .TBody }}
        <tr>
          {{- range . }}
            <td{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>
              {{- .Text -}}
            </td>
          {{- end }}
        </tr>
      {{- end }}
    </tbody>
  </table>
</div>
