body.dark [data-ea-publisher].loaded .ea-content,
body.dark [data-ea-type].loaded .ea-content {
  background: rgba(255, 255, 255, 0.05);
  color: #dcdcdc;
}

body.dark [data-ea-publisher].loaded .ea-content a:link,
body.dark [data-ea-type].loaded .ea-content a:link {
  color: #dcdcdc;
}

body.dark [data-ea-publisher].loaded .ea-content a:visited,
body.dark [data-ea-type].loaded .ea-content a:visited {
  color: #dcdcdc;
}

body.dark [data-ea-publisher].loaded .ea-content a:hover,
body.dark [data-ea-type].loaded .ea-content a:hover {
  color: #f6f6f6;
}

body.dark [data-ea-publisher].loaded .ea-content a:active,
body.dark [data-ea-type].loaded .ea-content a:active {
  color: #f6f6f6;
}

body.dark [data-ea-publisher].loaded .ea-content a strong,
body.dark [data-ea-publisher].loaded .ea-content a b,
body.dark [data-ea-type].loaded .ea-content a strong,
body.dark [data-ea-type].loaded .ea-content a b {
  color: #50baf9;
}

body.dark [data-ea-publisher].loaded .ea-callout a:link,
body.dark [data-ea-type].loaded .ea-callout a:link {
  color: #c3c3c3;
}

body.dark [data-ea-publisher].loaded .ea-callout a:visited,
body.dark [data-ea-type].loaded .ea-callout a:visited {
  color: #c3c3c3;
}

body.dark [data-ea-publisher].loaded .ea-callout a:hover,
body.dark [data-ea-type].loaded .ea-callout a:hover {
  color: #dcdcdc;
}

body.dark [data-ea-publisher].loaded .ea-callout a:active,
body.dark [data-ea-type].loaded .ea-callout a:active {
  color: #dcdcdc;
}

body.dark [data-ea-publisher].loaded .ea-callout a strong,
body.dark [data-ea-publisher].loaded .ea-callout a b,
body.dark [data-ea-type].loaded .ea-callout a strong,
body.dark [data-ea-type].loaded .ea-callout a b {
  color: #50baf9;
}

body.dark [data-ea-publisher].loaded.bordered .ea-content,
body.dark [data-ea-type].loaded.bordered .ea-content {
  border: 1px solid rgba(255, 255, 255, 0.07);
}
