// Put your custom SCSS code here

.list.section.showcase {
  .wrap.container-fluid,
  .wrap.container-lg {
    padding: 0;
    max-width: 100%;
  }

  .content {
    padding: 0;
  }

  .container {
    max-width: 100%;
  }
}

.col-main-section {
  flex: 0 0 auto;
  width: calc(100% - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up(xl) {
    max-width: 100rem;
  }
}

@include media-breakpoint-up(xl) {
  .col-xl {
    flex: 0 0 auto;
    width: 33.3333%;
  }
}

.section-cards {
  .card {
    margin: 0;
    padding: 1rem;
  }

  .card-title {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  .section-cards .col-lg-7:nth-child(2n) .card {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }
}

@include media-breakpoint-up(xl) {
  .showcase .col-main-section {
    max-width: 80rem;
  }
}

.showcase .card {
  height: auto;
  margin: 1rem;
}

.showcase .card-img-overlay {
  position: absolute;
  inset: auto 0 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: 0;
  background-color: hsla(224deg, 14%, 16%, 0.95);
  transition-timing-function: cubic-bezier(0,0,.2,1);
  transition-duration: .3s;
  transition-property: opacity;
  opacity: 0;

  .card-title {
    margin-top: 0;
    color: var(--sl-color-gray-2);
  }

  .card-text {
    color: var(--sl-color-gray-2);
  }
}

.showcase .card:hover .card-img-overlay {
  opacity: 1;
}

.pagination {
  margin-top: 4rem;
}

/*! purgecss start ignore */
.page-item a[aria-label="Previous"],
.page-item a[aria-label="Next"] {
  border-radius: 50%;
}

/*! purgecss end ignore */

// Add to Doks

.callout-content {
  min-width: 0;
}

.callout pre {
  margin: 1rem 0;
}

.container-fw {
  max-width: auto;
}

.docs-sidebar {
  min-width: 18.75rem;
  max-width: 18.75rem;
  width: 18.75rem;
}

.docs-toc {
  min-width: 13.75rem;
}

@include media-breakpoint-up(lg) {
  .container-fw {
    max-width: 675px;
  }
}

@include media-breakpoint-up(xl) {
  .container-fw {
    max-width: 875px;
    
    .docs-content {
      width: 575px;
    }

    .docs-toc {
      margin-left: 3rem;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .container-fw {
    max-width: 1075px;

    .docs-content {
      width: 675px;
    }
  }
}

figcaption {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-style: italic;
}

.navbar-brand svg {
  width: 60px;
  height: 100%;
  margin-right: 0;
}

@include media-breakpoint-up(lg) {
  .navbar-brand svg {
    width: 70px;
    height: 100%;
  }
}

.section-credits {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@include media-breakpoint-up(lg) {
  .section-credits {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

.home .footer {
  @include visually-hidden;
}

// DocSearch

.DocSearch-Container {
  z-index: 2000 !important;
}

.DocSearch-Hit-title {
  overflow: hidden;
}

.DocSearch-Hit-icon {
  display: flex;
  align-items: center;
}

.DocSearch-Hits mark {
  padding: 0;
}

@media (max-width:768px) {
  .DocSearch-Modal {
    position: fixed !important;
  }
}
